# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
package-lock.json
yarn.lock

.cache
.env
.vercel
.output
.vinxi
.netlify

/dist/
/build/
/server/build
/public/build
.vinxi
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor

# cloudflare
app.config.timestamp_*
vite.config.timestamp_*
.vinxi
.wrangler
dist
.env
.dev.vars